html, body {
    background-image: url("http://cdn.pcwallart.com/images/apple-computer-keyboard-wallpaper-2.jpg");
    background-size: cover;
}

h3 {
    font-size: 35px;
    font-family: 'Special Elite', cursive;
    color: white;
}

.hidden {
    display: none;
}

#register {
    margin-top: 70px;
    text-align: center;
    vertical-align: middle;
}

#level-select {
    margin-top: 50px;
    text-align: center;
    vertical-align: middle;
}
#game {
    margin-top: 50px;
    text-align: center;
    vertical-align: middle;
}

#game-over {
    margin-top: 100px;
    text-align: center;
    vertical-align: middle;

}

h5 {
    font-family: 'Special Elite', cursive;
    color: white;
}
.golden {
    color: gold;
}

.panel {
    background: none;
}

.form-control {
    background: none;
}

.panel-transparent .panel-heading {
    background: rgba(40, 78, 136, 0.4) !important;
}

.panel-transparent .panel-body {
    background: rgba(40, 78, 136, 0.4) !important;
}

.button {
    background: rgba(20, 20, 21, 0.78);
    border-radius: 10px;
    border: 2px solid white;
    width: 50px;
    height: 41px;
    text-align: center;
    margin: auto;
    /*box-shadow: 10px 10px 5px #888888;*/
    box-shadow: 6px 5px 2px 1px #999;
}
h2 {
    color: white;
}
label {
    font-size: 12px;
    color: orangered;
}
#name {
    color: red;
}

